<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/stylesheets/wipStyle.css">
  <link rel="stylesheet" href="https://use.typekit.net/lxl5wgn.css">
  <link rel="icon" type="image/x-icon" href="../iglogocropped.jpg">
  <title>About</title>
  <script>
    function toggleMobileMenu() {
      document.getElementById("header-menu").classList.toggle("show");
    }
  </script>
</head>
<body>
  <div class="header">
    <button class="burger-button" onclick="toggleMobileMenu()">
      <img src="../static/images/icons/burger-menu.jpg">
    </button>
    <ul id="header-menu">
      <li><a href="about.html" data-text="about">about</a></li>
      <li><a href="projects.html" data-text="projects">projects</a></li>
      <li><a href="blog.html" data-text="blog">blog</a></li>
      <li><a id="shop-link" href="shop.html" data-text="shop">shop</a></li>
    </ul>
    <div id="logo-img">
      <a href="home.html">
        <img id="desktop-logo" src="../static/images/zvslogo2.png" alt="home-logo">
        <img id="mobile-logo" src="../static/images/mobilelogo.png" alt="home-logo">
      </a>
    </div>
    </div>

    <div id="focus">
      <div id="focus-text">
        <b>About </b> <br><br>
Zorica&#39;s background is in Architecture, which she finished at the University of Belgrade, Serbia. After working in an academic roll for 4 years, she relocated to Sydney, Australia where she worked for a prestigious urban design office. In 2008, she started her own architectural studio, working mostly on residential design.
Alongside this, Zorica started collecting furniture, decorative objects and art that evolved her passion into its own complementary business. From here, her work became focused on wholistic design&#x2013; architecture, interior design, and the sourcing of beautiful pieces that add individuality to people&#39;s homes.
Zorica further enriched her passion for design by completing an interior design course at the Interior Design Academy in Sydney as well as an architectural photography course at the Australian Centre for Photography.
In 2016, she moved to Brighton, UK with her family, where she re-established her practice.
<br><br> <b>Our Philosophy </b> <br><br>
Our studio is fundamentally guided by our clients &#x2013; ordinary people who share a passion for design and beauty &#x2013; and the locations we work in, rather than a set style. Though we enjoy mixing architectural finesse with contemporary design and classical splendour, the charm of our projects comes from the way people want to use it. We won&#39;t sell you a brand, we will work with you to make it your unique space.
We are a creative studio, where no project is too small, niche or complex &#x2013; from renovating your existing home, designing extensions and alterations, replacing your bathroom or kitchen to styling a home for sale or rental, providing design direction and sourcing items to create a dream look.
We understand how important the space you live in is &#x2013; both as a means of expression and communication of what you value, and as a space to live, work, play and feel comfortable in.
 </div>
      <img id="focus-img" src="../static/images/about_image.jpeg">
    </div>

    <div id="footer">
        <p><b>e:</b> contact@zvsdesign.com </p>
        <p>Made by Mia Stapleton</p>
        <div id="socials-footer">
          <a href="https://www.instagram.com/zvsdesign/?igshid=YmMyMTA2M2Y%3D"><img src="../static/images/icons/instagram.svg"></a>
          <a href="https://www.pinterest.com.au/zvsdesign/"><img src="../static/images/icons/pinterest.svg"></a>
        </div>
    </div>
</html>
