<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/stylesheets/projectTemplateStyle.css">
  <link rel="stylesheet" href="https://use.typekit.net/lxl5wgn.css">
  <link rel="icon" type="image/x-icon" href="../iglogocropped.jpg">
  <title>Brighton Loft</title>
  <script>
    function toggleMobileMenu() {
      document.getElementById("header-menu").classList.toggle("show");
    }
  </script>
</head>
<body>
  <div class="header">
    <button class="burger-button" onclick="toggleMobileMenu()">
      <img src="../static/images/icons/burger-menu.jpg">
    </button>
    <ul id="header-menu">
      <li><a href="about.html" data-text="about">about</a></li>
      <li><a href="projects.html" data-text="projects">projects</a></li>
      <li><a href="blog.html" data-text="blog">blog</a></li>
      <li><a id="shop-link" href="shop.html" data-text="shop">shop</a></li>
    </ul>
    <div id="logo-img">
      <a href="home.html">
        <img id="desktop-logo" src="../static/images/zvslogo2.png" alt="home-logo">
        <img id="mobile-logo" src="../static/images/mobilelogo.png" alt="home-logo">
      </a>
    </div>
    </div>
  <div id="content-wrapper">
    <div id="text">
      <h1>BRIGHTON LOFT</h1>
    </div>
    <div id="carousel-wrapper">
      <div id="scroll-carousel">
        <div class="carousel-image">
          <img src="../static/images/BrightonLoft/brightonloft1.jpg">
        </div>
        <div class="carousel-image">
          <img src="../static/images/BrightonLoft/brightonloft2.jpg">
        </div>
        <div class="carousel-image">
          <img src="../static/images/BrightonLoft/brightonloft3.jpg">
        </div>
        <div class="carousel-image">
          <img src="../static/images/BrightonLoft/brightonloft4.jpg">
        </div>
        <div class="carousel-image">
          <img src="../static/images/BrightonLoft/brightonloft5.jpg">
        </div>
        <div class="carousel-image">
          <img src="../static/images/BrightonLoft/brightonloft6.jpg">
        </div>
        <div class="carousel-image">
          <img src="../static/images/BrightonLoft/brightonloft7.jpg">
        </div>
        <div class="carousel-image">
          <img src="../static/images/BrightonLoft/brightonloft8.jpg">
        </div>
        <div class="carousel-image">
          <img src="../static/images/BrightonLoft/brightonloft9.jpg">
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
      <p><b>e:</b> contact@zvsdesign </p>
      <p>Made by Mia Stapleton</p>
  </div>
</body>
</html>
