<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/stylesheets/wipStyle.css">
  <link rel="stylesheet" href="https://use.typekit.net/lxl5wgn.css">
  <link rel="icon" type="image/x-icon" href="../iglogocropped.jpg">
  <title>Contact</title>
  <script>
    function toggleMobileMenu() {
      document.getElementById("header-menu").classList.toggle("show");
    }
  </script>
</head>
<body>
  <div class="header">
    <button class="burger-button" onclick="toggleMobileMenu()">
      <img src="../static/images/icons/burger-menu.jpg">
    </button>
    <ul id="header-menu">
      <li><a href="about.html" data-text="about">about</a></li>
      <li><a href="projects.html" data-text="projects">projects</a></li>
      <li><a href="blog.html" data-text="blog">blog</a></li>
      <li><a id="shop-link" href="shop.html" data-text="shop">shop</a></li>
    </ul>
    <div id="logo-img">
      <a href="home.html">
        <img id="desktop-logo" src="../static/images/zvslogo2.png" alt="home-logo">
        <img id="mobile-logo" src="../static/images/mobilelogo.png" alt="home-logo">
      </a>
    </div>
    </div>
    <div class="maintext">
      <p> <b>email</b>: contact@zvsdesign.com </p>
      <p> You can also contact us via direct message, on our
        <a href="https://instagram.com/zvsdesign?igshid=YmMyMTA2M2Y=">instagram</a>.</p>
    </div>

    <div id="footer">
        <p><b>e:</b> contact@zvsdesign.com </p>
        <p>Made by Mia Stapleton</p>
        <div id="socials-footer">
          <a href="https://www.instagram.com/zvsdesign/?igshid=YmMyMTA2M2Y%3D"><img src="../static/images/icons/instagram.svg"></a>
          <a href="https://www.pinterest.com.au/zvsdesign/"><img src="../static/images/icons/pinterest.svg"></a>
        </div>
    </div>
</html>
