<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/stylesheets/header.css">
    <link rel="stylesheet" href="../static/stylesheets/projectsStyle.css">
    <link rel="stylesheet" href="https://use.typekit.net/lxl5wgn.css">
    <link rel="icon" type="image/x-icon" href="../iglogocropped.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Projects</title>
    <script>
      function toggleMobileMenu() {
        document.getElementById("header-menu").classList.toggle("show");
      }
    </script>
  </head>
  <body>
    <div class="header">
      <button class="burger-button" onclick="toggleMobileMenu()">
        <img src="../static/images/icons/burger-menu.jpg">
      </button>
      <ul id="header-menu">
        <li><a href="about.html" data-text="about">about</a></li>
        <li><a href="projects.html" data-text="projects">projects</a></li>
        <li><a href="blog.html" data-text="blog">blog</a></li>
        <li><a id="shop-link" href="shop.html" data-text="shop">shop</a></li>
      </ul>
      <div id="logo-img">
        <a href="home.html">
          <img id="desktop-logo" src="../static/images/zvslogo2.png" alt="home-logo">
          <img id="mobile-logo" src="../static/images/mobilelogo.png" alt="home-logo">
        </a>
      </div>
      </div>
    <div class="projects-wrapper">
      <h1>Projects</h1>
      <div class="items">
        <div class="project-item" style="background-image: url('../static/images/ProjectsPage/edwardianflatwithagarden4.jpg')">
          <a href= "edwardian.html">
          <div class="project-item-content">
            <h2>Edwardian Flat With A Garden</h2>
          </div>
        </a>
        </div>
        <div class="project-item" style="background-image: url('../static/images/ProjectsPage/sydneyfamilyhome.jpg')">
          <a href="sydney.html">
          <div class="project-item-content">
            <h2>Sydney Family Home</h2>
          </div>
        </a>
        </div>
        <div class="project-item" style="background-image: url('../static/images/ProjectsPage/brightonloft.jpg')">
          <a href="brightonloft.html">
          <div class="project-item-content">
            <h2>Brighton Loft</h2>
          </div>
          </a>
        </div>
        <div class="project-item" style="background-image: url('../static/images/ProjectsPage/broadwayflats.jpg')">
          <a href="BroadwayFlats.html">
          <div class="project-item-content">
            <h2>Broadway Flats</h2>
          </div>
          </a>
        </div>
        <div class="project-item" style="background-image: url('../static/images/ProjectsPage/bellevuehill.jpg')">
          <a href="bellevuehillbalconies.html">
          <div class="project-item-content">
            <h2>Bellevue Hill Balconies</h2>
          </div>
          </a>
        </div>
        <div class="project-item" style="background-image: url('../static/images/ProjectsPage/sydneyterracehouse.jpg')">
          <a href="sydneyterracehouse.html">
          <div class="project-item-content">
            <h2>Sydney Terrace House</h2>
          </div>
        </a>
      </div>
        <div class="project-item" style="background-image: url('../static/images/ProjectsPage/miscellaneous.jpg')">
          <a href="miscellaneous.html">
          <div class="project-item-content">
            <h2>Miscellaneous</h2>
          </div>
        </a>
        </div>
      </div>
    <div id="footer">
        <p><b>e:</b> contact@zvsdesign.com </p>
        <p>Made by Mia Stapleton</p>
        <div id="socials-footer">
          <a href="https://www.instagram.com/zvsdesign/?igshid=YmMyMTA2M2Y%3D"><img src="../static/images/icons/instagram.svg"></a>
          <a href="https://www.pinterest.com.au/zvsdesign/"><img src="../static/images/icons/pinterest.svg"></a>
        </div>
    </div>
  </body>



</html>
