<html>
  <head>
    <link rel="stylesheet" href="../static/stylesheets/header.css">
    <link rel="stylesheet" href="https://use.typekit.net/lxl5wgn.css">
    <title>Project Name</title>
    <script>
      function toggleMobileMenu() {
        document.getElementById("header-menu").classList.toggle("show");
      }
    </script>
  </head>
  <body>
    <div class="header">
      <button class="burger-button" onclick="toggleMobileMenu()">
        <img src="../static/images/icons/burger-menu.jpg">
      </button>
      <ul id="header-menu">
        <li><a href="https://en.wikipedia.org/wiki/Main_Page" data-text="about">about</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Main_Page" data-text="projects">projects</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Main_Page" data-text="blog">blog</a></li>
        <li><a id="shop-link" href="https://en.wikipedia.org/wiki/Main_Page" data-text="shop">shop</a></li>
      </ul>
      <div id="logo-img">
        <a href="https://en.wikipedia.org/wiki/Main_Page" >
          <img id="desktop-logo" src="../static/images/zvslogo2.png" alt="home-logo">
          <img id="mobile-logo" src="../static/images/mobilelogo.png" alt="home-logo">
        </a>
      </div>
      </div>

  </body>



</html>
